n8n/wf-save-out.json
{
  "name": "WA · Save Outbound",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-save-out",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "wh-saveout",
      "name": "Webhook",
      "webhookId": "wa-save-out-hook"
    },
    {
      "parameters": {
        "jsCode": "const b = ($input.first().json.body) || {};\nlet ts = b.timestamp;\nif (ts == null || ts === '') ts = Math.floor(Date.now()/1000);\nelse { ts = Number(ts); if (ts > 1e12) ts = Math.floor(ts/1000); }\nconst phone = b.phone ? String(b.phone).replace(/[^\\d]/g,'') : null;\nconst ch = ['whatsapp','instagram','facebook'].includes(String(b.channel||'').toLowerCase()) ? String(b.channel).toLowerCase() : 'whatsapp';\nconst mediaUrl = b.mediaUrl || b.media_url || null;\nconst mediaMime = b.mediaMime || b.mimeType || b.mime || null;\nconst mediaName = b.filename || b.mediaFilename || b.fileName || null;\nlet mediaB64 = b.mediaBase64 || b.mediaData || b.media_base64 || null;\nif (mediaB64) mediaB64 = String(mediaB64).replace(/^data:[^;]+;base64,/, '').replace(/\\s/g, '');\nconst hasMedia = !!(mediaUrl || mediaB64);\nconst VALID = ['text','image','audio','video','document','sticker'];\nlet type = String(b.type||'').toLowerCase();\nif (!VALID.includes(type)) type = hasMedia ? 'document' : 'text';\nconst text = b.text || '';\nconst LBL = { image:'\\uD83D\\uDCF7 Imagen', audio:'\\uD83C\\uDFB5 Audio', video:'\\uD83C\\uDFAC Video', sticker:'\\uD83C\\uDFAF Sticker', document:('\\uD83D\\uDCC4 '+(mediaName||'Documento')) };\nconst preview = text || LBL[type] || (hasMedia ? '\\uD83D\\uDCCE Adjunto' : '');\nreturn [{ json: { contactId: b.contactId!=null ? String(b.contactId) : null, name: b.name||null, phone, text, wamid: b.wamid||null, ts, type, direction: 'out', status: b.status||'sent', channel: ch, mediaUrl, mediaMime, mediaName, mediaB64, preview } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "code-norm-out",
      "name": "Normalize"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH c AS (INSERT INTO contacts (ghl_contact_id, name, phone) VALUES ($1, $2, $9) ON CONFLICT (ghl_contact_id) DO UPDATE SET name = COALESCE(EXCLUDED.name, contacts.name), phone = COALESCE(EXCLUDED.phone, contacts.phone) RETURNING id), conv AS (INSERT INTO conversations (contact_id, channel, last_message, last_message_at, last_direction, last_status, last_inbound, unread_count, status, updated_at) SELECT c.id, $10, $14, to_timestamp(($5)::double precision), $7, $8, CASE WHEN $7='in' THEN to_timestamp(($5)::double precision) ELSE NULL END, CASE WHEN $7='in' THEN 1 ELSE 0 END, 'open', now() FROM c ON CONFLICT (contact_id) DO UPDATE SET channel = EXCLUDED.channel, last_message = EXCLUDED.last_message, last_message_at = EXCLUDED.last_message_at, last_direction = EXCLUDED.last_direction, last_status = EXCLUDED.last_status, last_inbound = CASE WHEN EXCLUDED.last_direction='in' THEN EXCLUDED.last_message_at ELSE conversations.last_inbound END, unread_count = CASE WHEN EXCLUDED.last_direction='in' THEN conversations.unread_count + 1 ELSE conversations.unread_count END, status='open', updated_at=now() RETURNING id) INSERT INTO messages (conversation_id, wamid, direction, type, text, status, channel, media_url, media_mime, media_filename, media_data, created_at) SELECT conv.id, $4, $7, $6, $3, $8, $10, $11, $12, $13, CASE WHEN $15 IS NULL OR $15 = '' THEN NULL ELSE decode($15, 'base64') END, to_timestamp(($5)::double precision) FROM conv ON CONFLICT (wamid) DO NOTHING RETURNING id, conversation_id;",
        "options": { "queryReplacement": "={{ [ $json.contactId, $json.name, $json.text, $json.wamid, $json.ts, $json.type, $json.direction, $json.status, $json.phone, $json.channel, $json.mediaUrl, $json.mediaMime, $json.mediaName, $json.preview, $json.mediaB64 ] }}" }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [440, 0],
      "id": "pg-saveout",
      "name": "Upsert + Insert",
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "2W6eREXRp7yllk50", "name": "WA Postgres Direct" } }
    },
    {
      "parameters": {
        "jsCode": "const r = ($input.first() && $input.first().json) || {};\nreturn [{ json: { ok: true, id: r.id != null ? String(r.id) : null, conversationId: r.conversation_id != null ? String(r.conversation_id) : null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "code-resp-out",
      "name": "Format"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 0],
      "id": "resp-saveout",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Normalize", "type": "main", "index": 0 }]] },
    "Normalize": { "main": [[{ "node": "Upsert + Insert", "type": "main", "index": 0 }]] },
    "Upsert + Insert": { "main": [[{ "node": "Format", "type": "main", "index": 0 }]] },
    "Format": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
